/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para a seção de destaque */
#destaque {
    background-color: #fff;
    padding: 20px;
}

.destaque-flor {
    text-align: center;
}

.destaque-flor img {
    max-width: 100%;
    border: 1px solid #ccc;
}

/* Estilos para o catálogo de flores */
#catalogo {
    background-color: #fff;
    padding: 20px;
}

.lista-flores {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista-flores li {
    flex: 0 0 calc(33.333% - 20px);
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.lista-flores img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
